/content/app-template/app/core/projects/vs13/.vs
/content/app-template/app/core/projects/vs19/obj
/content/app-template/app/core/projects/vs19/bin
/content/app-template/app/core/projects/vs19/.vs
/content/app-template/reference

/content/app-template/app/im/projects/vs19/.vs
/content/app-template/app/im/projects/vs19/obj
/content/app-template/app/im/projects/vs19/bin

/content/app-template/app/mexo/projects/STM32F405-omega/MDK-ARM/mexo-test

/content/app-template/app/mexo/projects/STM32F405-avatar/MDK-ARM/mexo-test

/content/app-template/app/mexo/projects/STM32F103

/content/app-template/app/mexo-drive/projects/STM32F405/MDK-ARM/mexo-test

/content/app-template/app/burst-drive/projects/STM32F103/MDK-ARM/burst-drive
/content/app-template/app/burst-drive/projects/STM32F103/Core/Inc
/content/app-template/app/burst-drive/projects/STM32F103/Core/Src
/content/build/vs19/flow2serial++/.vs/flow2serial++/v16
/content/source/kinematics/robosd_kinematics — копия.cpp
/content/doc/matlab/slprj/sim/varcache/m1
/content/doc/matlab/*.slxc
/content/app-template/app/mexo++drive/projects/STM32F103C6/MDK-ARM/mexo++drive
/content/app-template/app/mexo++drive/projects/STM32F103C6/Drivers
/content/app-template/app/mexo++drive/projects/STM32F405/MDK-ARM/mexo-test
/content/app-template/app/mexo++drive/projects/STM32F405/Drivers/
/content/doc/matlab/slprj/sim/varcache/discret_line_systemm
/content/doc/matlab/*.autosave
/content/doc/matlab/slprj/sim/varcache/power
/content/doc/matlab/slprj/sim/varcache/ee_power_factor_correction
/content/app-template/app/mexo++drive/projects/STM32F103CB/MDK-ARM/mexo++drive
/content/source/mexo/*.bak
/content/source/lxi
/content/build/vs19/fmdirrect/.vs/fmd-test/v16
/content/build/ubuntu+vs19/core/robosd-core++/VisualGDB/Debug
/content/build/ubuntu+vs19/core/robosd-core++/.visualgdb
/content/build/ubuntu+vs19/test/robosd-core++/.visualgdb
/content/build/ubuntu+vs19/test/test/VisualGDB/Debug
/content/build/ubuntu+vs19/test/test/.visualgdb
/content/build/ubuntu+vs19/edev/.visualgdb
/content/build/ubuntu+vs19/emulator/.visualgdb
/content/build/ubuntu+vs19/robosd-core++/.visualgdb
/content/build/ubuntu+vs19/test/.visualgdb
/content/doc/burst/*.bkp
/content/doc/burst/.$servo_can_flow_modules.drawio.dtmp
