/content/app-template/app/core/projects/vs13/.vs
/content/app-template/app/core/projects/vs19/obj
/content/app-template/app/core/projects/vs19/bin
/content/app-template/app/core/projects/vs19/.vs
/content/app-template/reference

/content/app-template/app/im/projects/vs19/.vs
/content/app-template/app/im/projects/vs19/obj
/content/app-template/app/im/projects/vs19/bin

/content/app-template/app/mexo/projects/STM32F405-omega/MDK-ARM/mexo-test

/content/app-template/app/mexo/projects/STM32F405-avatar/MDK-ARM/mexo-test

/content/app-template/app/mexo/projects/STM32F103

/content/app-template/app/mexo-drive/projects/STM32F405/MDK-ARM/mexo-test

